<h1><%= @remedy.name %></h1>

<p>

  <!-- <strong>Image:</strong> -->
  <%= image_tag @remedy.photo_url %>

<br>
<br>
<br>
<br>
  <strong>Benefits:</strong>
  <%= @remedy.benefits %>


  <strong>Directions:</strong>
  <%= @remedy.directions %>

</p>


<h3>Comments</h3>
<% @remedy.remedy_comments.each do |comment| %>
  <p>
    <strong>Name:</strong>
    <%= comment.name %>
  </p>

  <p>
    <strong>Said:</strong>
    <%= comment.comment %>
  </p>


<%= link_to "Edit", edit_remedy_remedy_comment_path(@remedy, comment) %> |
<%= link_to "Delete", remedy_remedy_comment_path(@remedy, comment), method: :delete %>

<% end %>


<h3>Add a comment:</h3>
<%= form_for([@remedy, @remedy.remedy_comments.build]) do |f| %>
  <p>
    <%= f.label :name %><br>
    <%= f.text_field :name %>
  </p>
  <p>
    <%= f.label :comment %><br>
    <%= f.text_area :comment %>
  </p>
  <p>
    <%= f.submit %>
  </p>
<% end %>


<%= link_to 'Delete', remedy_path(@remedy),
                method: :delete,
                data: { confirm: 'Are you sure?' } %>
<%= link_to 'Edit', edit_remedy_path(@remedy) %>
<%= link_to 'Back', remedies_path %>
