<h2><%= @oil.name %></h2>

<p>
  <strong>Name:</strong>
  <%= @oil.name %>


  <strong>Image:</strong>
  <%= image_tag @oil.photo_url %>

<br>
<br>
<br>
<br>


  <strong>Benefits:</strong>
  <%= @oil.benefits %>
</p>


<<%= link_to 'Delete', oil_path(@oil),
                method: :delete,
                data: { confirm: 'Are you sure?' } %>
<%= link_to 'Edit', edit_oil_path(@oil) %>
<%= link_to 'Back', oils_path %>
