<h2><%= @oil.name %> <%= link_to "(edit)",
edit_oil_path(@oil) %></h2>

<p>
  <strong>Name:</strong>
  <%= @oil.name %>


  <strong>Image:</strong>
  <%= image_tag @oil.photo_url %>

<br>
<br>
<br>
<br>


  <strong>Benefits:</strong>
  <%= @oil.benefits %>
</p>



<!-- <% image_tag @oil.photo_url, class: "oil-photo" %> -->
