<!DOCTYPE html>
<html>
<head>
  <title>OilsRemedies</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
<!--
<%= link_to "Oils", oils_path %> -->


<%= yield %>

</body>
</html>
