<!DOCTYPE html>
<html>
<head>
  <title>OilsRemedies</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
<div class = "menubar">
  <span class = "mainclick"><%= link_to 'Home', welcome_index_path %></span>
  <span class = "mainclick"><%= link_to 'Essential Oils', oils_path %></span>
  <span class = "mainclick"><%= link_to 'Remedies', remedies_path %></span>
</div>




<%= yield %>

</body>
</html>
